h1 {
font-family: 'Nosifer';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 40px;
color: #000000;
}

h2, h3, h4, h5, h6 {
	padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
	display: block;
}

.container {
	width: 1170px;
	margin: 0 auto;
}
a {
	color: #000000;
font-family: 'Lexend';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
position: relative;
width: 26px;
height: 700px;
left: 20px;
top: 600px;
}

.a {
	color: #000000;
font-family: 'Lexend';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
position: relative;
width: 39px;
height: 700px;
left: 50px;
top: 600px;
}

 img {
	position: relative;
width: 40px;
height: 31px;
left: 600px;
top: 1px;
size: 10px;
}

.m {
	position: relative;
width: 177px;
height: 50px;
left: 490px;
top: 250px;
font-family: 'Nosifer';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 35px;
color: #000000;
}

.d {
	position: relative;
width: 63px;
height: 35px;
left: 40px;
top: 335px;
font-family: 'Nosifer';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
/* identical to box height */
color: #000000;
}

.f {
	position: relative;
width: 83px;
height: 33px;
left: 700px;
top: 400px;
font-family: 'Nosifer';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 35px;
color: #000000;
}

.img {
	position: absolute;
width: 200px;
height: 201px;
left: 777px;
top: 1px;
}

.zip {
	position: absolute;
width: 114px;
height: 169px;
left: 615px;
top: 210px;
}

.new {
	position: absolute;
width: 237px;
height: 212px;
left: 195px;
top: 250px;
}

.shirt {
position: absolute;
width: 216px;
height: 219px;
left: 925px;
top: 390px;
}

.z {
position: absolute;
width: 800px;
height: 800px;
left: 450px;
}

.b {
	position: absolute;
width: 800px;
height: 800px;
left: 2px;
display: block;
}

p {
	font-family: 'K2D';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 65px;
position: absolute;
width: 192px;
height: 197px;
left: 65px;
top: 300px;
}

.s {
	position: relative;
width: 63px;
height: 35px;
left: 280px;
top: -200px;
font-family: 'Nosifer';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
}

.q {
	position: relative;
width: 100px;
height: 200px;
left: 275px;
top: 40px;
font-family: 'K2D';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 65px;
}


