h1 {
font-family: 'Nosifer';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #000000;
}

img {
	position: absolute;
width: 828px;
height: 900px;
top: -100px;
left: -100px;
}

.b {
	position: absolute;
width: 828px;
height: 900px;
top: -100px;
left: 500px;
}

a {
	color: #000000;
font-family: 'Lexend';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
position: relative;
width: 26px;
height: 700px;
left: 20px;
top: 600px;
}

.l {
	color: #000000;
font-family: 'Lexend';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
position: relative;
width: 39px;
height: 700px;
left: 50px;
top: 600px;
}

.k {
position: absolute;
width: 192px;
height: 197px;
left: 10px;
top: 135px;
}

.m {
	position: absolute;
width: 192px;
height: 197px;
left: 250px;
top: 135px;
}

.n {
	position: absolute;
width: 192px;
height: 197px;
left: 490px;
top: 135px;
}

.h {
position: absolute;
width: 192px;
height: 197px;
left: 565px;
top: 400px;
}

.o {
	position: absolute;
width: 192px;
height: 197px;
left: 325px;
top: 400px;
}

.u {
	position: absolute;
width: 192px;
height: 197px;
left: 75px;
top: 400px;
}

p {
	font-family: 'K2D';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 65px;
position: absolute;
width: 192px;
height: 197px;
left: 65px;
top: 300px;
}

.y {
	position: absolute;
width: 192px;
height: 197px;
left: 312px;
top: 300px;
}

.v {
	position: absolute;
width: 192px;
height: 197px;
left: 555px;
top: 300px;
}




